@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: "Roboto Condensed", sans-serif;
    max-width: 1200px;
}

p,
h1,
h2,
h3,
a,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #011936;
}

/* nav & footer styles */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

nav li i {
    color: #587B7F
}

nav h1 {
    font-size: 2em;
}

nav p,
nav a {
    color: #587B7F;
    font-weight: 300;
}


footer {
    color: #587B7F;
    text-align: center;
    margin: 80px auto 20px;
}

h2 {
    margin-bottom: 40px;
}

h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

.content {
    margin-right: 20px;
}

/* search & filter styles*/

/* search & filter styles */
.search {
    display: block;
    align-items: center;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #F0F6F6;
    border: none;
    color: #587B7F;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 50em;
    height: 40px;
    transition: all ease-in-out .5s;
    margin-right: -3rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #587B7F;
}

.search__input:focus {
    outline: none;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #011936;
}

.search__input:focus+.search__button {
    background-color: transparent;
}

.search__button {
    border: none;
    background-color: transparent;
    margin-top: 4em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.5em;
    width: 1.5em;
}

/* styles for log in pop-up */

loginBody {
    display: flex;
    align-self: center;
    vertical-align: middle;
}

header, .loginTextH1 {
    display: flex;
    align-self: center;
}
#Log-In {
     background-color: #ffffff;
    width: 650px;
    border-radius: 15px;
    padding: 40px;
    border-width: 10px;
    border-color: #000000;
    border-style: solid;
    margin-bottom: 20px;
}
.formcontainer {
    display: flex;
    justify-content: center;
    align-self: center;
}
#Log-In label {

    font-size: 25px;
    padding: 15px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}


#uname, #psword {

    display: flex;
    border: #000000;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    font-size: 25px;
    margin: 10px;
    justify-items:center;
}

#blanks {

    text-align: center;

}
#submit {

    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: #7e7e7e;
    border: none;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    
}
.error-msg {
color: red;
font-size: 0.9em;
margin-top: 2px;
margin-bottom: 10px;
display: block;
}
