<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Catalog</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/3443aaf585.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Nav Bar -->
    <nav>
        <div class="site-title">
            <a href="index.html">
                <h1>Add a Course</h1>
            </a>
        </div>
    
        <ul id="nav-links">
            <li><a href="index.html"><i class="fa-solid fa-circle-question"></i></a></li>
            <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="addcourse.html"><i class="fa-solid fa-plus"></i></a></li>
            <!-- Dynamic login/logout -->
            <li id="login-link"><a href="login.html"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
    
            <li id="user-info" style="display:none;">
                <span id="username-display"></span>
                <button id="logout-btn" class="logout-btn">Logout</button>
            </li>
        </ul>
    </nav>
    <form>
        <div>
        <label for="courseName">Course Name:</label>
        <input type="text" id="courseName">
        </div>
        <div>
            <label for="coursePrefix">Course Prefix:</label>
            <input type="text" id="coursePrefix">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description">
        </div>
        <div>
            <label for="numberOfCredits">Credit Hours:</label>
            <input type="number" min="1" max="5" id="numberOfCredits">
        </div>
        <div>
            <label for="subjectArea">Area(s) of Study:</label>
            <input type="text" id="subjectArea">
        </div>
        <div>
            <input type="button" id="addBtn" value="Add">
        </div>
    </form>
    <div id="error"></div>

    <script src="../js/auth.js"></script>
    <script src="../js/addCourse.js"></script>
</body>

</html>
