<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Catalog</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/3443aaf585.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- Nav Bar -->
    <nav>
        <div class="site-title">
            <a href="index.html">
                <h1>Course Catalog</h1>
            </a>
        </div>
    
        <ul id="nav-links">
            <li><a class="popup-trigger"><i class="fa-solid fa-circle-question"></i></a></li>
    
            <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li id="add-course-link" style="display:none;"><a href="addcourse.html"><i class="fa-solid fa-plus"></i></a>
            </li>
    
            <!-- Dynamic login/logout -->
            <li id="login-link"><a href="login.html"><i class="fa-solid fa-right-to-bracket"></i></a></li>
    
            <li id="user-info" style="display:none;">
                <span id="username-display"></span>
                <button id="logout-btn" class="logout-btn"><i class="fa-solid fa-right-to-bracket"></i></button>
            </li>
        </ul>
    </nav>
    
    <!-- Help Popup -->
    <div class="hover-bkgr">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton">&times;</div>
            <p>Text goes here...<br /> More text...</p>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const popupTrigger = document.querySelector(".popup-trigger");
            const popupBg = document.querySelector(".hover-bkgr");
            const closeBtn = document.querySelector(".popupCloseButton");

            popupTrigger.addEventListener("click", () => {
                popupBg.style.display = "flex";
            });

            popupBg.addEventListener("click", () => {
                popupBg.style.display = "none";
            });

            closeBtn.addEventListener("click", (e) => {
                e.stopPropagation(); // prevent background click
                popupBg.style.display = "none";
            });
        });
    </script>

    <main>
        <h2>My Schedule</h2>

        <!-- Cart Container -->
         <div id="cart-container" class="catalog-container">
            <!-- Items injected by cart.js-->
         </div>

    </main>


    <script src="../js/cart.js"></script>
</body>
</html>