<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <meta name="description" content="Log in to your account">
        <meta charset="UTF-8">
        <title>Log In</title>
    </head>
    <body class="loginBody">
        <header>
            <h1 class="loginTextH1">Welcome! Log in to get started</h1>
        </header>
        <main>
            <div class="formcontainer">
            <form id="Log-In">

                <label for="username">Username</label>
                <input type="text" id="uname" name="username" placeholder="Enter Username">
                <span id="unameError" class="error"></span><br />

                <label for="password">Password</label>
                 <input type="text" id="psword" name="password"placeholder="Enter Password">
                 <span id="pswordError" class="error"></span><br />

                 <button id="submit" type="submit">Log-In</button>
                
        
            </form>
            </div>
        </main>
    </body> 
</html>
