<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/styles.css">
        <meta name="description" content="Log in to your account">
        <meta charset="UTF-8">
        <title>Log In</title>
        <script src="../js/login.js" defer></script>
    </head>
    <body>
        <!-- Nav Bar -->
        <nav>
            <div class="site-title">
                <a href="index.html">
                    <h1>Course Catalog</h1>
                </a>
            </div>
        </nav>

        <main>
            <div class="formcontainer">
            <form id="Log-In">
                <h2 class="form-title">Log in to get started</h2>

                <label for="username">Username</label>
                <input type="text" id="uname" name="username" placeholder="Enter Username">
                <span id="unameError" class="error"></span><br />

                <label for="password">Password</label>
                 <input type="text" id="psword" name="password"placeholder="Enter Password">
                 <span id="pswordError" class="error"></span><br />

                 <button id="loginBtn" type="submit">Log-In</button>
                
        
            </form>
            </div>
        </main>
    </body> 
</html>
