<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMP REGISTER PAGE</title>
    <script src="../js/register.js" defer></script>
</head>
<body>
    <h1> TEMPORARY PAGE</h1>
    <p>to create users for the database for testing purposes</p>
    <p>sorry that it's ugly :( </p>
    <form id="register" autocomplete="off">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name">
        </p>
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="text" id="password">
        </p>
        <p>
            <label for="role">Teacher or Student:</label>
            <input type="text" id="role">
        </p>
        <button id="registerBtn" type="button">Register User</button>
        <p id="errorMsg"></p>

    </form>
</body>
</html>